:root{
  --lightblue:#294b73;
  --homepagefont: cursive, Arial, sans-serif, Monospace, Fantasy;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: url('../img/Daytimeview.jpg');
}

.content {
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  /* padding: 20px; */
}

nav{
  margin:2%
}

hr1, hr2 {
  list-style: lightgrey;
}

h2.HighLight{
  text-align: center;
  font-size: 50px;
}

.PictureContainer {
  display: flex;
  flex-direction: row;
  margin: 2%; 
  justify-content: center;
  flex-grow: 0;
  width: auto;
  height: 165px; 
}

.Picture1{
  width: auto;
  height: 165px; 
}

.PicBox .Picboxpoint {
  display: none;
  padding: 1% 0;
}

.PicBox:hover .Picboxpoint {
  display: block;
}

.contact{
  display: flex;
  font-family: var(--homepagefont);
  color: var(--lightblue);
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.contact p {
  margin: 2%;
}

h1 {
    font-family: var(--homepagefont);
    text-align: center;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
.top-nav li {
    display: inline;
    margin-right: 10px; 
  }

.top-nav ul li a {
    font-family: var(--homepagefont);
    font-size: 15px;
    color: var(--lightblue);
}

footer{
    text-align: center;
    color: lightblue;
}

footer h4 {
    font-weight: normal;
    margin-top: 10%;
}

@media screen and (max-width: 768px) {
  .PictureContainer{
    display: flex;
    flex-direction: column;
    margin: 3%; 
    justify-content: center;
    flex-grow: 0;
    width: auto;
    height: 165px;
  }
  
  footer h4 {
    font-weight: normal;
    margin-top: 10%;
  }

  .content {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 10%;
    padding: 20px;
  }
}